<app-navbar></app-navbar>
<div class="container">
    <h4 class=" my-3">Update User</h4>
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="Name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter Name"  [(ngModel)]="EditUserData.Name"> 
                  </div>
                  <div class="mb-3">
                    <label for="Mobile" class="form-label">Mobile</label>
                    <input type="text" class="form-control" id="Mobile" name="Mobile" placeholder="Enter Mobile"(keydown)="onKeyDownEventamtMobileNo($event)" maxlength="11"  [(ngModel)]="EditUserData.Mobile">
                  </div>
                  <div class="mb-3">
                    <label for="Email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="Email" name="Email" placeholder="Enter Email"  [(ngModel)]="EditUserData.Email">
                  </div>
                  <div class="mb-3">
                    <label for="Address" class="form-label">Address</label>
                    <textarea class="form-control" name="Address" id="Address" cols="30" rows="5" placeholder="Enter Address"  [(ngModel)]="EditUserData.Address"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary" style="margin-right: 10px;" (click)="Update()">{{btnSave}}</button>
                  <button type="submit" class="btn btn-danger" routerLink="/">Cancel</button>
            </div>
        </div>
      </form>
</div>